<%= form_with(model: coupon, local: true) do |form| %>
  <% if coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :one_use %>
    <%= form.check_box :one_use %>
  </div>

  <div class="field">
    <%= form.radio_button :discount_type, "percentage" %>
    <%= form.label :discount_type_percentage, "percentage" %>

    <%= form.radio_button :discount_type, "ammount" %>
    <%= form.label :discount_type_ammount, "ammount" %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.number_field :discount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
