<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.ascendent_parents %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<h2>Variations Resume</h2>

<table>
  <% @product.variations.each do |variation| %>
    <tr>
      <td><%= variation.title %></td>
      <td><%= link_to 'Edit Variation', edit_product_variation_path(@product, variation) %></td>
      <td><%= link_to 'Destroy Variation', [@product, variation], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add Variation', new_product_variation_path(@product) %> |
<%= link_to 'Edit Product', edit_product_path(@product) %> |
<%= link_to 'Back to Products', products_path %>
